.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*3렬로 1프랙션 너비로 반복*/
    gap: 12px; /*카드 사이 간격*/
}

.card {
    background-color: #0c575c;
    color:aliceblue;
    text-align: center;
    padding: 22px 0;
    border-radius: 8px;
}
