input, button {
    padding: 12px 24px;
    font-size: 24px;
    margin-top: 10px;
}

#out {
    font-size: 18px;
    font-weight: 700;
    margin-top: 12px;
}

#info {
    color:darkcyan;
    margin-top: 4px;
}